<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %} title {% endblock %}</title>
</head>
<body>


{% if user.is_authenticated %}
    Pages:     <a href = / >Home</a> | <a href = /history/>Past Orders</a> | <a href = /accounts/logout/>Logout</a> 
    {% else %}
    Pages:     <a href = / >Home</a> | <a href = /accounts/login>login</a> | <a href = /register/> sign up</a>
{% endif %}

<hr>

<h1>This is {{store.name}} - {% block page %} {% endblock %}</h1>

{% if user.is_authenticated %}
Welcome{% if user.name %}, {{user.name}}{% endif %}!

{% else %}

Thanks for visiting our store. Please <a href = /accounts/login>login</a> so you can start shopping! If you don't have an account,
<a href = /register/> sign up</a> for free today!

{% endif %}</p>

{% block content %}
content
{% endblock %}

{% block footer %}
<hr>
{% endblock %}

</body>
</html>